mixin anchorTagImg(link, imgSource, imgAlt)
  - var anchorColClass = "flex justify-center md:col-auto col-span-4 items-center rounded-md shadow-md hover:bg-gray-100 transition-colors duration-200"
  - var divImgClass = "flex justify-center items-center w-28 h-28 object-contain"

  a(class=anchorColClass href=link)
    div(class=divImgClass)
      img(class="object-contain" src=imgSource alt=imgAlt)