mixin formInput(labelText, inputName, inputType="text")
  - var inputClass = "border border-black rounded-md text-lg px-2 py-1 focus:ring-1 focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
  div(class="flex flex-col gap-1")
    label(class="text-lg" for=inputName)= labelText 
    input(class=inputClass type=inputType id=inputName name=inputName required)